In [44]:
import pandas as pd
import openpyxl as openpyxl

df = pd.read_csv("ct_cbgs.csv", dtype={"GEOID10": "string"})

In [28]:
print(df)

      Unnamed: 0       GEOID10  Housing burden (percent)  Total population  \
0              0  090010101011                  0.224719            1058.0
1              1  090010101012                  0.224719             600.0
2              2  090010101013                  0.224719            1221.0
3              3  090010101014                  0.224719            1393.0
4              4  090010101021                  0.103586            1358.0
...          ...           ...                       ...               ...
2570        2570  090159081001                  0.250196            2120.0
2571        2571  090159081002                  0.250196            1628.0
2572        2572  090159081002                  0.250196            1628.0
2573        2573  090159081002                  0.250196            1628.0
2574        2574  090159081002                  0.250196            1628.0

      Median household income (% of state median household income)  \
0                                              2.370761
1                                              1.560464
2                                              3.187000
3                                              1.659222
4                                              3.187000
...                                                 ...
2570                                           0.979068
2571                                           1.112679
2572                                           1.112679
2573                                           1.112679
2574                                           1.112679

      Current asthma among adults aged >=18 years  \
0                                             8.5
1                                             8.5
2                                             8.5
3                                             8.5
4                                             8.0
...                                           ...
2570                                         11.3
2571                                         11.3
2572                                         11.3
2573                                         11.3
2574                                         11.3

      Coronary heart disease among adults aged >=18 years  \
0                                                   6.7
1                                                   6.7
2                                                   6.7
3                                                   6.7
4                                                   5.0
...                                                 ...
2570                                                5.0
2571                                                5.0
2572                                                5.0
2573                                                5.0
2574                                                5.0

      Cancer (excluding skin cancer) among adults aged >=18 years  \
0                                                   9.9
1                                                   9.9
2                                                   9.9
3                                                   9.9
4                                                   8.6
...                                                 ...
2570                                                6.2
2571                                                6.2
2572                                                6.2
2573                                                6.2
2574                                                6.2

      Current lack of health insurance among adults aged 18-64 years  \
0                                                   5.9
1                                                   5.9
2                                                   5.9
3                                                   5.9
4                                                   4.5
...                                                 ...
2570                                                8.2
2571                                                8.2
2572                                                8.2
2573                                                8.2
2574                                                8.2

      Diagnosed diabetes among adults aged >=18 years  ...  \
0                                                 8.6  ...
1                                                 8.6  ...
2                                                 8.6  ...
3                                                 8.6  ...
4                                                 7.0  ...
...                                               ...  ...
2570                                              8.3  ...
2571                                              8.3  ...
2572                                              8.3  ...
2573                                              8.3  ...
2574                                              8.3  ...

      Score K (communities)  county    tract  bg  zcta5      cntyname  \
0                     False    9001   101.01   1   6831  Fairfield CT
1                     False    9001   101.01   2   6831  Fairfield CT
2                     False    9001   101.01   3   6831  Fairfield CT
3                     False    9001   101.01   4   6831  Fairfield CT
4                     False    9001   101.02   1   6830  Fairfield CT
...                     ...     ...      ...  ..    ...           ...
2570                  False    9015  9081.00   1   6377    Windham CT
2571                  False    9015  9081.00   2   6354    Windham CT
2572                  False    9015  9081.00   2   6373    Windham CT
2573                  False    9015  9081.00   2   6377    Windham CT
2574                  False    9015  9081.00   2   6384    Windham CT

        zipname  pop2k   afact        cbgid
0     GREENWICH    779  1.0000  90010101011
1     GREENWICH    785  1.0000  90010101012
2     GREENWICH   1494  1.0000  90010101013
3     GREENWICH   1603  1.0000  90010101014
4         BYRAM    820  0.6170  90010101021
...         ...    ...     ...          ...
2570   STERLING   1628  1.0000  90159081001
2571     MOOSUP    315  0.2141  90159081002
2572      ONECO    273  0.1856  90159081002
2573   STERLING    830  0.5642  90159081002
2574  VOLUNTOWN     53  0.0360  90159081002

[2575 rows x 183 columns]

In [29]:
zdf = pd.read_csv("geocorr-zips.csv")

In [30]:
print(zdf)

      county    tract  bg                       zcta5      cntyname  \
0     county    tract  bg  ZIP Census Tabulation Area      cntyname
1      09001  0101.01   1                       06831  Fairfield CT
2      09001  0101.01   2                       06831  Fairfield CT
3      09001  0101.01   3                       06831  Fairfield CT
4      09001  0101.01   4                       06831  Fairfield CT
...      ...      ...  ..                         ...           ...
3039   09015  9081.00   1                       06377    Windham CT
3040   09015  9081.00   2                       06354    Windham CT
3041   09015  9081.00   2                       06373    Windham CT
3042   09015  9081.00   2                       06377    Windham CT
3043   09015  9081.00   2                       06384    Windham CT

        zipname                   pop2k                          afact
0       zipname  Total Pop, 2000 census  bg to zcta5 allocation factor
1     GREENWICH                     779                             1
2     GREENWICH                     785                             1
3     GREENWICH                    1494                             1
4     GREENWICH                    1603                             1
...         ...                     ...                            ...
3039   STERLING                    1628                             1
3040     MOOSUP                     315                        0.2141
3041      ONECO                     273                        0.1856
3042   STERLING                     830                        0.5642
3043  VOLUNTOWN                      53                         0.036

[3044 rows x 8 columns]

In [32]:
zdf["cbgid"] = zdf["county"]+zdf["tract"]+zdf["bg"]
zdf["cbgid"] = zdf["cbgid"].str.replace('.','')

<ipython-input-32-69e17a9b3f72>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  zdf["cbgid"] = zdf["cbgid"].str.replace('.','')

In [33]:
print(zdf)

      county    tract  bg                       zcta5      cntyname  \
0     county    tract  bg  ZIP Census Tabulation Area      cntyname
1      09001  0101.01   1                       06831  Fairfield CT
2      09001  0101.01   2                       06831  Fairfield CT
3      09001  0101.01   3                       06831  Fairfield CT
4      09001  0101.01   4                       06831  Fairfield CT
...      ...      ...  ..                         ...           ...
3039   09015  9081.00   1                       06377    Windham CT
3040   09015  9081.00   2                       06354    Windham CT
3041   09015  9081.00   2                       06373    Windham CT
3042   09015  9081.00   2                       06377    Windham CT
3043   09015  9081.00   2                       06384    Windham CT

        zipname                   pop2k                          afact  \
0       zipname  Total Pop, 2000 census  bg to zcta5 allocation factor
1     GREENWICH                     779                             1
2     GREENWICH                     785                             1
3     GREENWICH                    1494                             1
4     GREENWICH                    1603                             1
...         ...                     ...                            ...
3039   STERLING                    1628                             1
3040     MOOSUP                     315                        0.2141
3041      ONECO                     273                        0.1856
3042   STERLING                     830                        0.5642
3043  VOLUNTOWN                      53                         0.036

              cbgid
0     countytractbg
1      090010101011
2      090010101012
3      090010101013
4      090010101014
...             ...
3039   090159081001
3040   090159081002
3041   090159081002
3042   090159081002
3043   090159081002

[3044 rows x 9 columns]

In [34]:
zdf['GEOID10'] = zdf['cbgid']

In [35]:
print(zdf)

      county    tract  bg                       zcta5      cntyname  \
0     county    tract  bg  ZIP Census Tabulation Area      cntyname
1      09001  0101.01   1                       06831  Fairfield CT
2      09001  0101.01   2                       06831  Fairfield CT
3      09001  0101.01   3                       06831  Fairfield CT
4      09001  0101.01   4                       06831  Fairfield CT
...      ...      ...  ..                         ...           ...
3039   09015  9081.00   1                       06377    Windham CT
3040   09015  9081.00   2                       06354    Windham CT
3041   09015  9081.00   2                       06373    Windham CT
3042   09015  9081.00   2                       06377    Windham CT
3043   09015  9081.00   2                       06384    Windham CT

        zipname                   pop2k                          afact  \
0       zipname  Total Pop, 2000 census  bg to zcta5 allocation factor
1     GREENWICH                     779                             1
2     GREENWICH                     785                             1
3     GREENWICH                    1494                             1
4     GREENWICH                    1603                             1
...         ...                     ...                            ...
3039   STERLING                    1628                             1
3040     MOOSUP                     315                        0.2141
3041      ONECO                     273                        0.1856
3042   STERLING                     830                        0.5642
3043  VOLUNTOWN                      53                         0.036

              cbgid        GEOID10
0     countytractbg  countytractbg
1      090010101011   090010101011
2      090010101012   090010101012
3      090010101013   090010101013
4      090010101014   090010101014
...             ...            ...
3039   090159081001   090159081001
3040   090159081002   090159081002
3041   090159081002   090159081002
3042   090159081002   090159081002
3043   090159081002   090159081002

[3044 rows x 10 columns]

In [36]:
df_merge_col = pd.merge(df, zdf, on='GEOID10')

In [37]:
print(df_merge_col)

      Unnamed: 0       GEOID10  Housing burden (percent)  Total population  \
0              0  090010101011                  0.224719            1058.0
1              1  090010101012                  0.224719             600.0
2              2  090010101013                  0.224719            1221.0
3              3  090010101014                  0.224719            1393.0
4              4  090010101021                  0.103586            1358.0
...          ...           ...                       ...               ...
3448        2573  090159081002                  0.250196            1628.0
3449        2574  090159081002                  0.250196            1628.0
3450        2574  090159081002                  0.250196            1628.0
3451        2574  090159081002                  0.250196            1628.0
3452        2574  090159081002                  0.250196            1628.0

      Median household income (% of state median household income)  \
0                                              2.370761
1                                              1.560464
2                                              3.187000
3                                              1.659222
4                                              3.187000
...                                                 ...
3448                                           1.112679
3449                                           1.112679
3450                                           1.112679
3451                                           1.112679
3452                                           1.112679

      Current asthma among adults aged >=18 years  \
0                                             8.5
1                                             8.5
2                                             8.5
3                                             8.5
4                                             8.0
...                                           ...
3448                                         11.3
3449                                         11.3
3450                                         11.3
3451                                         11.3
3452                                         11.3

      Coronary heart disease among adults aged >=18 years  \
0                                                   6.7
1                                                   6.7
2                                                   6.7
3                                                   6.7
4                                                   5.0
...                                                 ...
3448                                                5.0
3449                                                5.0
3450                                                5.0
3451                                                5.0
3452                                                5.0

      Cancer (excluding skin cancer) among adults aged >=18 years  \
0                                                   9.9
1                                                   9.9
2                                                   9.9
3                                                   9.9
4                                                   8.6
...                                                 ...
3448                                                6.2
3449                                                6.2
3450                                                6.2
3451                                                6.2
3452                                                6.2

      Current lack of health insurance among adults aged 18-64 years  \
0                                                   5.9
1                                                   5.9
2                                                   5.9
3                                                   5.9
4                                                   4.5
...                                                 ...
3448                                                8.2
3449                                                8.2
3450                                                8.2
3451                                                8.2
3452                                                8.2

      Diagnosed diabetes among adults aged >=18 years  ...      cbgid_x  \
0                                                 8.6  ...  90010101011
1                                                 8.6  ...  90010101012
2                                                 8.6  ...  90010101013
3                                                 8.6  ...  90010101014
4                                                 7.0  ...  90010101021
...                                               ...  ...          ...
3448                                              8.3  ...  90159081002
3449                                              8.3  ...  90159081002
3450                                              8.3  ...  90159081002
3451                                              8.3  ...  90159081002
3452                                              8.3  ...  90159081002

      county_y  tract_y  bg_y  zcta5_y    cntyname_y  zipname_y  pop2k_y  \
0        09001  0101.01     1    06831  Fairfield CT  GREENWICH      779
1        09001  0101.01     2    06831  Fairfield CT  GREENWICH      785
2        09001  0101.01     3    06831  Fairfield CT  GREENWICH     1494
3        09001  0101.01     4    06831  Fairfield CT  GREENWICH     1603
4        09001  0101.02     1    06830  Fairfield CT      BYRAM      820
...        ...      ...   ...      ...           ...        ...      ...
3448     09015  9081.00     2    06384    Windham CT  VOLUNTOWN       53
3449     09015  9081.00     2    06354    Windham CT     MOOSUP      315
3450     09015  9081.00     2    06373    Windham CT      ONECO      273
3451     09015  9081.00     2    06377    Windham CT   STERLING      830
3452     09015  9081.00     2    06384    Windham CT  VOLUNTOWN       53

      afact_y       cbgid_y
0          1   090010101011
1          1   090010101012
2          1   090010101013
3          1   090010101014
4      0.617   090010101021
...       ...           ...
3448   0.036   090159081002
3449  0.2141   090159081002
3450  0.1856   090159081002
3451  0.5642   090159081002
3452   0.036   090159081002

[3453 rows x 192 columns]

In [39]:
df_merge_col.columns

Index(['Unnamed: 0', 'GEOID10', 'Housing burden (percent)', 'Total population',
       'Median household income (% of state median household income)',
       'Current asthma among adults aged >=18 years',
       'Coronary heart disease among adults aged >=18 years',
       'Cancer (excluding skin cancer) among adults aged >=18 years',
       'Current lack of health insurance among adults aged 18-64 years',
       'Diagnosed diabetes among adults aged >=18 years',
       ...
       'cbgid_x', 'county_y', 'tract_y', 'bg_y', 'zcta5_y', 'cntyname_y',
       'zipname_y', 'pop2k_y', 'afact_y', 'cbgid_y'],
      dtype='object', length=192)

In [ ]:
# df_merge_col.to_csv('ct_cbgs.csv')

In [51]:
pdf = pd.read_excel("ct_energy_events_by_zipcode.xlsx")

In [52]:
print(pdf)

               TOWN  ZIPCODE  Average Customer Duration ( Hours)  \
0          ABINGTON     6230                           23.555617
1            AMSTON     6231                           19.670699
2           ANDOVER     6232                           24.056186
3           ASHFORD     6278                           21.082270
4              AVON     6001                           21.168191
..              ...      ...                                 ...
268       FAIRFIELD     6828                          161.970000
269         SHELTON     6484                           97.140000
270        TRUMBULL     6611                          136.310000
271  NORTH BRANFORD     6471                           99.630000
272          ORANGE     6477                          119.960000

     Total Duration Hours  # Events Affecting Town/Zipcode   Outages  \
0            3.172942e+04                              128       NaN
1            1.668469e+05                              222       NaN
2            2.340426e+05                              299       NaN
3            4.900574e+05                              455       NaN
4            1.020815e+06                              584       NaN
..                    ...                              ...       ...
268          3.643312e+06                             1293  137560.0
269          1.817481e+06                              708   84933.0
270          1.945274e+06                              788   62951.0
271          3.429250e+05                              159   14721.0
272          1.817481e+06                              369   24765.0

     Customers Served  Outage Events Per Customer  \
0                 104                    1.230769
1                 840                    0.264286
2                1429                    0.209237
3                2204                    0.206443
4                8756                    0.066697
..                ...                         ...
268             22494                    0.057482
269             18709                    0.037843
270             14271                    0.055217
271              3442                    0.046194
272              6459                    0.057130

    Events/Customer Above Average IND Duration Above Average      Source
0                        BelowAverage           BelowAverage  Eversource
1                        BelowAverage           BelowAverage  Eversource
2                        BelowAverage           BelowAverage  Eversource
3                        BelowAverage           BelowAverage  Eversource
4                        BelowAverage           BelowAverage  Eversource
..                                ...                    ...         ...
268                      AboveAverage                    NaN          UI
269                      AboveAverage                    NaN          UI
270                      AboveAverage                    NaN          UI
271                      AboveAverage                    NaN          UI
272                      AboveAverage                    NaN          UI

[273 rows x 11 columns]

In [56]:
df_merge_col["ZIPCODE"] = df_merge_col["zcta5_y"].astype(str)

In [57]:
print(df_merge_col)

      Unnamed: 0       GEOID10  Housing burden (percent)  Total population  \
0              0  090010101011                  0.224719            1058.0
1              1  090010101012                  0.224719             600.0
2              2  090010101013                  0.224719            1221.0
3              3  090010101014                  0.224719            1393.0
4              4  090010101021                  0.103586            1358.0
...          ...           ...                       ...               ...
3448        2573  090159081002                  0.250196            1628.0
3449        2574  090159081002                  0.250196            1628.0
3450        2574  090159081002                  0.250196            1628.0
3451        2574  090159081002                  0.250196            1628.0
3452        2574  090159081002                  0.250196            1628.0

      Median household income (% of state median household income)  \
0                                              2.370761
1                                              1.560464
2                                              3.187000
3                                              1.659222
4                                              3.187000
...                                                 ...
3448                                           1.112679
3449                                           1.112679
3450                                           1.112679
3451                                           1.112679
3452                                           1.112679

      Current asthma among adults aged >=18 years  \
0                                             8.5
1                                             8.5
2                                             8.5
3                                             8.5
4                                             8.0
...                                           ...
3448                                         11.3
3449                                         11.3
3450                                         11.3
3451                                         11.3
3452                                         11.3

      Coronary heart disease among adults aged >=18 years  \
0                                                   6.7
1                                                   6.7
2                                                   6.7
3                                                   6.7
4                                                   5.0
...                                                 ...
3448                                                5.0
3449                                                5.0
3450                                                5.0
3451                                                5.0
3452                                                5.0

      Cancer (excluding skin cancer) among adults aged >=18 years  \
0                                                   9.9
1                                                   9.9
2                                                   9.9
3                                                   9.9
4                                                   8.6
...                                                 ...
3448                                                6.2
3449                                                6.2
3450                                                6.2
3451                                                6.2
3452                                                6.2

      Current lack of health insurance among adults aged 18-64 years  \
0                                                   5.9
1                                                   5.9
2                                                   5.9
3                                                   5.9
4                                                   4.5
...                                                 ...
3448                                                8.2
3449                                                8.2
3450                                                8.2
3451                                                8.2
3452                                                8.2

      Diagnosed diabetes among adults aged >=18 years  ...  county_y  tract_y  \
0                                                 8.6  ...     09001  0101.01
1                                                 8.6  ...     09001  0101.01
2                                                 8.6  ...     09001  0101.01
3                                                 8.6  ...     09001  0101.01
4                                                 7.0  ...     09001  0101.02
...                                               ...  ...       ...      ...
3448                                              8.3  ...     09015  9081.00
3449                                              8.3  ...     09015  9081.00
3450                                              8.3  ...     09015  9081.00
3451                                              8.3  ...     09015  9081.00
3452                                              8.3  ...     09015  9081.00

      bg_y  zcta5_y    cntyname_y  zipname_y  pop2k_y  afact_y       cbgid_y  \
0        1    06831  Fairfield CT  GREENWICH      779       1   090010101011
1        2    06831  Fairfield CT  GREENWICH      785       1   090010101012
2        3    06831  Fairfield CT  GREENWICH     1494       1   090010101013
3        4    06831  Fairfield CT  GREENWICH     1603       1   090010101014
4        1    06830  Fairfield CT      BYRAM      820   0.617   090010101021
...    ...      ...           ...        ...      ...      ...           ...
3448     2    06384    Windham CT  VOLUNTOWN       53   0.036   090159081002
3449     2    06354    Windham CT     MOOSUP      315  0.2141   090159081002
3450     2    06373    Windham CT      ONECO      273  0.1856   090159081002
3451     2    06377    Windham CT   STERLING      830  0.5642   090159081002
3452     2    06384    Windham CT  VOLUNTOWN       53   0.036   090159081002

      ZIPCODE
0       06831
1       06831
2       06831
3       06831
4       06830
...       ...
3448    06384
3449    06354
3450    06373
3451    06377
3452    06384

[3453 rows x 193 columns]

In [58]:
pdf["ZIPCODE"] = pdf["ZIPCODE"].astype(str)
all_df = pd.merge(df_merge_col, pdf, on='ZIPCODE', how='outer')

In [59]:
print(all_df)

      Unnamed: 0       GEOID10  Housing burden (percent)  Total population  \
0            0.0  090010101011                  0.224719            1058.0
1            1.0  090010101012                  0.224719             600.0
2            2.0  090010101013                  0.224719            1221.0
3            3.0  090010101014                  0.224719            1393.0
4            4.0  090010101021                  0.103586            1358.0
...          ...           ...                       ...               ...
3721         NaN           NaN                       NaN               NaN
3722         NaN           NaN                       NaN               NaN
3723         NaN           NaN                       NaN               NaN
3724         NaN           NaN                       NaN               NaN
3725         NaN           NaN                       NaN               NaN

      Median household income (% of state median household income)  \
0                                              2.370761
1                                              1.560464
2                                              3.187000
3                                              1.659222
4                                              3.187000
...                                                 ...
3721                                                NaN
3722                                                NaN
3723                                                NaN
3724                                                NaN
3725                                                NaN

      Current asthma among adults aged >=18 years  \
0                                             8.5
1                                             8.5
2                                             8.5
3                                             8.5
4                                             8.0
...                                           ...
3721                                          NaN
3722                                          NaN
3723                                          NaN
3724                                          NaN
3725                                          NaN

      Coronary heart disease among adults aged >=18 years  \
0                                                   6.7
1                                                   6.7
2                                                   6.7
3                                                   6.7
4                                                   5.0
...                                                 ...
3721                                                NaN
3722                                                NaN
3723                                                NaN
3724                                                NaN
3725                                                NaN

      Cancer (excluding skin cancer) among adults aged >=18 years  \
0                                                   9.9
1                                                   9.9
2                                                   9.9
3                                                   9.9
4                                                   8.6
...                                                 ...
3721                                                NaN
3722                                                NaN
3723                                                NaN
3724                                                NaN
3725                                                NaN

      Current lack of health insurance among adults aged 18-64 years  \
0                                                   5.9
1                                                   5.9
2                                                   5.9
3                                                   5.9
4                                                   4.5
...                                                 ...
3721                                                NaN
3722                                                NaN
3723                                                NaN
3724                                                NaN
3725                                                NaN

      Diagnosed diabetes among adults aged >=18 years  ...       TOWN  \
0                                                 8.6  ...        NaN
1                                                 8.6  ...        NaN
2                                                 8.6  ...        NaN
3                                                 8.6  ...        NaN
4                                                 7.0  ...        NaN
...                                               ...  ...        ...
3721                                              NaN  ...  FAIRFIELD
3722                                              NaN  ...  FAIRFIELD
3723                                              NaN  ...    SHELTON
3724                                              NaN  ...   TRUMBULL
3725                                              NaN  ...     ORANGE

      Average Customer Duration ( Hours)  Total Duration Hours  \
0                                    NaN                   NaN
1                                    NaN                   NaN
2                                    NaN                   NaN
3                                    NaN                   NaN
4                                    NaN                   NaN
...                                  ...                   ...
3721                              161.97             3643312.0
3722                              161.97             3643312.0
3723                               97.14             1817481.0
3724                              136.31             1945274.0
3725                              119.96             1817481.0

      # Events Affecting Town/Zipcode   Outages  Customers Served  \
0                                 NaN       NaN               NaN
1                                 NaN       NaN               NaN
2                                 NaN       NaN               NaN
3                                 NaN       NaN               NaN
4                                 NaN       NaN               NaN
...                               ...       ...               ...
3721                           1293.0  137560.0           22494.0
3722                           1293.0  137560.0           22494.0
3723                            708.0   84933.0           18709.0
3724                            788.0   62951.0           14271.0
3725                            369.0   24765.0            6459.0

      Outage Events Per Customer  Events/Customer Above Average IND  \
0                            NaN                                NaN
1                            NaN                                NaN
2                            NaN                                NaN
3                            NaN                                NaN
4                            NaN                                NaN
...                          ...                                ...
3721                    0.057482                       AboveAverage
3722                    0.057482                       AboveAverage
3723                    0.037843                       AboveAverage
3724                    0.055217                       AboveAverage
3725                    0.057130                       AboveAverage

      Duration Above Average  Source
0                        NaN     NaN
1                        NaN     NaN
2                        NaN     NaN
3                        NaN     NaN
4                        NaN     NaN
...                      ...     ...
3721                     NaN      UI
3722                     NaN      UI
3723                     NaN      UI
3724                     NaN      UI
3725                     NaN      UI

[3726 rows x 203 columns]

In [60]:
all_df.to_csv('merged_data.csv')